.black-background {
  background-color: #0b0a0b;
}

.gray-background {
  background-color: #343a40;
  height: 65px;
}

.details-view-gray-background {
  background-color: #3e3e3e;
  border-radius: 7px;
  margin-top: 25px;
  width: 100%;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header-format {
  display: inline-block;
  padding-left: 10px;
  padding-right: 40px;
  color: #4b959e;
}

a {
  text-decoration: none;
  color: #8e9399;
  margin-right: 30px;
}

.ai-center {
  display: flex;
  align-items: center;
}

.search-bar {
  background-color: #3e3e3e;
  width: 95%;
  height: 45px;
  border-radius: 3px;
  border-color: transparent;
  color: #4b959e;
  padding-left: 10px;
  border: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.search-button {
  color: #4b959e;
  background-color: #0b0a0b;
  border-color: #4b959e;
  width: 95%;
  border-radius: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border-style: solid;
  cursor: pointer;
}

.jc-center {
  display: flex;
  justify-content: center;
}

.height {
  height: 600px;
}

.text-align-center {
  text-align: center;
}

::placeholder {
  color: #4b959e;
}

.text-align-left {
  text-align: left;
}

.details-picture {
  width: 30%;
  padding-top: 10px;
}

.details-name {
  font-size: 40px;
  color: white;
  margin-top: 0;
}

.details-text {
  color: white;
  padding-left: 8px;
  font-size: 24px;
}

.add-button {
  background-color: #0b0a0b;
  color: white;
  padding: 12px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.list-gray-background {
  background-color: #3e3e3e;
  border-radius: 10px;
}

.list-image {
  width: 90%;
  margin-left: 2px;
}

li {
  list-style: none;
  margin-top: 13px;
}

ul {
  padding-left: 0;
  padding-top: 20px;
}

.space-between {
  justify-content: space-between;
}

.list-name {
  font-size: 30px;
  color: white;
}

.as-center {
  align-self: center;
}

.relative {
  position: relative;
}

.padding-right {
  padding-right: 5px;
}

.margin {
  margin-right: 5px;
  margin-left: 5px;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 7px;
  color: #4b959e;
  font-size: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
  background-color: #343a40;
  border-radius: 5px;
  z-index: 1;
  height: 130px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-text-format {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.space-around {
  justify-content: space-around;
}

.yes-button {
  background-color: green;
  color: white;
  border: none;
  padding: 3px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.no-button {
  background-color: red;
  color: white;
  border: none;
  padding: 3px 20px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1;
}

.jc-flex-start {
  justify-content: flex-start;
}
